.chat-side {
  width: 300px;
  float: left;
  color: white;
  height: 100vh;

  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      &__menu {
        display: flex;
        &__new-group {

          a {
            color: white;
          }
        }
        &__edit-user {
          margin-left: 10px;
          a {
            color: white;
          }
        }
      }
    }
  }
}

.groups {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 20px 20px 0 20px;
  bottom: 0;
  .group {
    width: 100%;
    a {
      color: white;
      font-weight: bold;
    }
      .group__name {
        font-size: 15px;
        padding-bottom: 5px;
        font-weight: bold;
      }
      .group__message {
        font-size: 11px;
        padding-bottom: 40px;
        font-weight: bold;
      }
  }
}